<template>
   <div>
      NAVBAR
      <v-app-bar :elevation="2"></v-app-bar>
   </div>
</template>

<script lang='ts'>
   import { defineComponent } from 'vue'
   
   export default defineComponent({
      name: 'NavbarAdmin',
      data() {
         return {
            
         }
      }
   })
</script>

<style scoped lang='scss'>

</style>