<template>
   <div class="partners_cards">
      <router-link v-for="partner in partners" :to="partner.link">
         <div class="partner_card">
            <img :src="partner.img" :alt="'img' + partner.id" />
            <h3>{{ partner.en.title }}</h3>
         </div>
      </router-link>
   </div>
</template>

<script lang='ts'>
import { defineComponent } from 'vue'
import listPartners from '../data/listPartners'

export default defineComponent({
   data() {
      return {
         partners: listPartners
      }
   }
})
</script>

<style scoped lang='scss'>
.partners_cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 40px;


   a {
      align-self: center;
      height: 100%;
   }

   .partner_card {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
      align-items: center;
      margin-bottom: 10px;

      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         object-position: center;
      }
   }
}
</style>