<template>
   <div>
      <NavbarAdmin/>
      nav
      <router-view></router-view>
   </div>
</template>

<script lang='ts'>
import { defineComponent } from 'vue'
import NavbarAdmin from "../components/admin/NavbarAdmin.vue"

export default defineComponent({
   components: {
      NavbarAdmin
   }
})
</script>

<style scoped lang='scss'></style>